body {
    background-color: #151515;
    color: #fff;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full height of viewport */
    margin: 0; /* Remove default margin */
  }
  .square {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    cursor: pointer; 
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .square:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(1.1);
  }
  h1 {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 60px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 50px;
  }
  .highlight {
    color: #ffc107; /* Change color to yellow */
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }