body {
    font-family: 'Arial', sans-serif;
    overflow: hidden; 
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin: 10px 0;
    color: #ff5c5c;
}

.K {
    color: #7b14dc;
    font-size: 2rem;
}

#icon {
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.5s;
}

#icon:hover {
    transform: rotate(360deg);
}

body.dark {
    background-color: #000000;
    color: #fff;
}

.dark h1 {
    color: #ff9999;
}

.dark .K {
    color: #c693ff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .K {
        font-size: 1.5rem;
    }

    #icon {
        width: 40px;
    }
}
