@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top,rgb(53, 53, 53),rgb(31, 31, 31),black);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #000000;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #3a3a3a;
  color: #fff;
  outline: none;
  margin-bottom: 20px;
}

#box {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border: 2px dashed #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#QRimg {
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: #5107fc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7a40ff;
}